##  operator

In [1]:
x=4
y=5
z=x<y
print(z)

True

In [2]:
x="hello"
y="world"
z=x+y
print(z)

helloworld

In [ ]:
"not in" operator is used for checking if a value is not a sequnce in python.

In [ ]:
"&&" is the logical operator for and in python.

In [3]:
x=5
x=3
print(x)

3

In [6]:
a=10
b=5
print(a is b )
print(a is not b)

False
True

In [7]:
c=3
cube=3**c
print(cube)

27

In [8]:
a=10
print(a>5 and a<10)
print(a>5 or a<10)
print(not a>5 and a<10)

False
True
False

## datatypes

In [ ]:
"()" use the this function.

In [ ]:
"lists" data type in python is ordered and mutable.

In [ ]:
"A list is mutable while a tuple is immutable"

In [ ]:
"set" data type in pyton cannot store duplicate value.

In [ ]:
"int"and "float" are the default data type in python.

In [ ]:
"boolean " is the data type of the value true in python.

In [ ]:
"integer" data type can be converted to a float in python.

## conditional statement

In [1]:
a=int(input("12"))
if a>12:
    print("positive")
elif a<0:
    print("negative")

positive

In [2]:
a= int(input("enter a number"))
if a%2 == 0:
    print("number is even")
else:
    print("number is odd")

number is odd

In [3]:
year =2023
if (year%4 == 0):
    print("year is a leap year")
else:
    print("year is not a leap year")

year is not a leap year

In [6]:
x= ('a','e','i','o','u')
if  (x == 'a' or x == 'e' or x == 'i' or x == 'o' or x == 'u'):
    print("character is vowel")
else: 
    print("character is not vowel")

character is not vowel

In [1]:
a=10
b=15
c=20
if(a>=b) and (a>=c):
    print("a")
elif(b>=a) and (b>=c):
    print("b")
else:
    print("c")

c