## LOOPS

- For loop
- Y loop

In [4]:
lst=['apple','banana','orange','kiwi','melon','mango']
for i in lst:
    print(i)

apple
banana
orange
kiwi
melon
mango

In [5]:
a=[2,4,6,4,7,8,9,10]
for i in a:
    print(i**2)

4
16
36
16
49
64
81
100

In [6]:
name= "Akash Verma"
for x in name:
    print (x)

A
k
a
s
h

V
e
r
m
a

In [7]:
for i in range (51):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [8]:
for x in range (2,11):
    print(x)

2
3
4
5
6
7
8
9
10

In [11]:
for name in range(5):
    print("akash")

akash
akash
akash
akash
akash